# IDE
.idea
.vscode

# code cache
__pycache__
*.pyc

# build and packate
build
dist
*.egg-info/

# data
data
*.db
scidownl/scidownl.json
scidownl/test-scidownl.json
paper

# OS
.DS_Store

# logs
*.log

# Others
DEPLOYMENT.md
playground.*

.direnv
.mypy_cache
.ruff_cache
.pytest_cache
AGENTS.md
